body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #136979; /* Light background color */
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #74d7ff; /* White background for the container */
    margin-top: -250px;
}

h1 {
    color: #074e60; /* Darker text color */
}

h2 {
    margin-top: 30px;
    color: #74d7ff; /* Lighter text color for subheading */
    margin-bottom: -10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0187b8; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #016386; /* Darker button color on hover */
}

p {
    margin-top: 10px;
    color: #000000; /* Lighter text color for case output */
}
